

<h2>@ViewBag.student.fName</h2>
<h2>@ViewBag.student.lName</h2>
<h2>@ViewBag.student.yearOfBirth</h2>
<h2>@ViewBag.student.class_</h2>



<li>@Html.ActionLink("Teacher Name", "ShowNameOfTeacher", "Teacher")</li>
